{include file='public/_head.html'}
</head>
<body>
<div id="lyear-preloader" class="loading">
  <div class="ctn-preloader">
    <div class="round_spinner">
      <div class="spinner"></div>
      <img src="__STATIC__/images/loading-logo.png" alt="">
    </div>
  </div>
</div>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    {include file='public/sidebar.html'}
    {include file='public/_header.html'}

    <main class="lyear-layout-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-xl-3">
            <div class="card bg-primary text-white">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
                    <i class="mdi mdi-account-group fs-4"></i>
                  </span>
                  {php $count=db('user')->count()}
                  <span class="fs-4">{$count}</span>
                </div>
                <div class="text-end">用户总数</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card bg-success text-white">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
                    <i class="mdi mdi-account-plus fs-4"></i>
                  </span>
                  {php $today_count=db('user')->where('create_time','>',strtotime(date('Y-m-d')))->count()}
                  <span class="fs-4">{$today_count}</span>
                </div>
                <div class="text-end">今日新增</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card bg-warning text-white">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
                    <i class="mdi mdi-file-document-outline fs-4"></i>
                  </span>
                  <span class="fs-4">0</span>
                </div>
                <div class="text-end">文章数量</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card bg-danger text-white">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
                    <i class="mdi mdi-link-variant fs-4"></i>
                  </span>
                  <span class="fs-4">0</span>
                </div>
                <div class="text-end">友链待审</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <header class="card-header"><div class="card-title">系统信息</div></header>
              <div class="card-body">
                <div class="alert alert-light">欢迎光临，<code>{:session('user.nickname')}</code></div>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <tbody>
                    {foreach $sys as $k=>$v}
                    <tr>
                      <td>{$k}</td>
                      <td>{$v}</td>
                    </tr>
                    {/foreach}
                    <tr>
                      <td>框架版本</td>
                      <td>__POWERED__ [ <a href="https://www.xphp.net" target="_blank">查看最新版本</a> ]</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {include file='public/footer.html'}
</body>
</html>
