/*基本*/
.mtn {
    margin-top: 10px;
}
a.active {
    font-weight: bold;
}
.panel-body {
    padding: 10px 15px;
}
.panel-body .list-unstyled li {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.panel-footer .pagination {
    margin: 0;
}
footer {
    padding: 15px 0;
    margin-top: 15px;
    border-top: 1px solid #E4E4E4;
}
/*导航*/
.navbar-inverse {
    border-color: rgba(0, 0, 0, 0.2);
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: bold;
}
.navbar .navbar-nav > li {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar .navbar-nav > li:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}
/*公告*/
.well {
    padding: 10px;
    background: #f8f8f8;
    border: 1px dashed #E4E4E4;
}
/*横幅*/
.jumbotron {
    height: 250px;
    padding:0;
    margin-bottom: 10px;
}
.jumbotron h1{
    margin-top: 50px;
    font-size: 60px;
}
.jumbotron p {
    font-size: 16px;
    font-weight: bold;
}
.jumbotron p.desc {
    font-size: 16px;
}

