<div class="container">
    <footer class="clearfix">
        <span class="pull-left">
            &copy;2020-2026 <a href="{:site('site_link', 'https://xphp.net')}" target="_blank">{:site('site_copy', '一鱼PHP框架')}</a>
        </span>
        <span class="pull-right">
            Powered by <a href="https://www.xphp.net" target="_blank">__POWERED__</a>
        </span>
    </footer>
</div>
<script src="__STATIC__/js/jquery-3.7.1.min.js"></script>
<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/layer_mobile/layer.js"></script>
<script src="__STATIC__/js/xphp-1.0.js?v={:site_ver()}"></script>