<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{:site('site_title', '一鱼PHP框架')}</title>
    <meta name="keywords" content="{:site('site_kw')}">
    <meta name="description" content="{:site('site_desc')}">
    <link href="__STATIC__/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="__STATIC__/css/animate.min.css" rel="stylesheet">
    <link href="__STATIC__/css/style.min.css?v={:site_ver()}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom fixed-top py-2">
    <div class="container">
        <a href="{:url('index/index')}" class="navbar-brand fw-bold fs-5">
            <i class="mdi mdi-alpha-x-box me-1"></i>{:site('site_h1', 'XPHP')}
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto ms-lg-4">
                <li class="nav-item{:nav_active('index', ' active')}">
                    <a class="nav-link py-2 px-3" href="{:url('index/index')}">首页</a>
                </li>
                <li class="nav-item{:nav_active('about', ' active')}">
                    <a class="nav-link py-2 px-3" href="{:url('about/index')}">关于</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {if !session('user.id'):}
                <li class="nav-item">
                    <a class="nav-link py-2 px-3" href="{:url('user/login')}">登录</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-primary ms-2 rounded-pill px-3" href="{:url('user/register')}">注册</a>
                </li>
                {else:}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center gap-1" href="#" data-bs-toggle="dropdown">
                        <img src="{:get_avatar(session('user.avatar'), session('user.qq'))}" class="rounded-circle" width="28" height="28" alt="avatar" />
                        {:session('user.nickname')}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end shadow border-0 mt-2">
                        <li><a class="dropdown-item py-2" href="{:url('user/index')}"><i class="mdi mdi-account me-2"></i>个人中心</a></li>
                        <li><a class="dropdown-item py-2" href="{:url('user/profile')}"><i class="mdi mdi-pencil me-2"></i>修改资料</a></li>
                        <li><a class="dropdown-item py-2" href="{:url('user/password')}"><i class="mdi mdi-lock me-2"></i>修改密码</a></li>
                        <li><hr class="dropdown-divider my-1"></li>
                        <li><a class="dropdown-item py-2" href="javascript:ajaxConfirm('{:url('user/logout')}','退出')"><i class="mdi mdi-logout me-2"></i>退出</a></li>
                    </ul>
                </li>
                {/if}
            </ul>
        </div>
    </div>
</nav>
<div style="height:56px;"></div>
<div class="d-flex flex-column min-vh-100">
    <main class="flex-fill">
