<form class="site-form submit-ajax" action="{:url('profile/password')}" method="post">
<div class="mb-3">
  <label for="old_pwd" class="form-label">*旧密码</label>
  <input type="password" id="old_pwd" name="old_pwd" class="form-control" placeholder="请输入旧密码" required>
</div>
<div class="mb-3">
  <label for="new_pwd" class="form-label">*新密码</label>
  <input type="password" id="new_pwd" name="new_pwd" class="form-control" placeholder="请输入新密码" required>
</div>
<div class="mb-3">
  <label for="re_pwd" class="form-label">*确认密码</label>
  <input type="password" id="re_pwd" name="re_pwd" class="form-control" placeholder="请确认新密码" required>
</div>
<div class="mb-3">
  <button type="submit" class="btn btn-primary">修改密码</button>
  <button type="button" class="btn btn-default" data-bs-dismiss="modal">取消</button>
</div>
</form>
