{include file='public/header.html'}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="sidebar">
            {include file='public/sidebar.html'}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="main">
            <h3 class="page-header">个人中心</h3>
            <ul class="nav nav-tabs">
                <li><a href="{:url('profile/index')}">个人中心</a></li>
                <li><a href="{:url('profile/edit')}">修改资料</a></li>
                <li class="active"><a href="{:url('profile/password')}">修改密码</a></li>
            </ul>
            <div class="panel panel-default mtn">
                <div class="panel-heading">
                    修改密码<span class="pull-right"><a href="javascript:history.back(-1);">返回</a></span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal submit-ajax" role="form" action="{:url('password')}" method="post">
                        <div class="form-group">
                            <label for="old_pwd" class="col-sm-1 control-label">*旧的密码</label>
                            <div class="col-sm-11">
                                <input type="password" id="old_pwd" name="old_pwd" class="form-control" style="width:auto;" placeholder="请输入旧密码" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new_pwd" class="col-sm-1 control-label">*新的密码</label>
                            <div class="col-sm-11">
                                <input type="password" id="new_pwd" name="new_pwd" class="form-control" style="width:auto;" placeholder="请输入新密码" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="re_pwd" class="col-sm-1 control-label">*确认密码</label>
                            <div class="col-sm-11">
                                <input type="password" id="re_pwd" name="re_pwd" class="form-control" style="width:auto;" placeholder="请确认新密码" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">&nbsp;</label>
                            <div class="col-sm-11">
                                <input type="submit" value="修改" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file='public/footer.html'}
</body>
</html>