{include file='public/_head.html'}
</head>
<body>
<div id="lyear-preloader" class="loading">
  <div class="ctn-preloader">
    <div class="round_spinner">
      <div class="spinner"></div>
      <img src="__STATIC__/images/loading-logo.png" alt="">
    </div>
  </div>
</div>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    {include file='public/sidebar.html'}
    {include file='public/_header.html'}

    <main class="lyear-layout-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <header class="card-header"><div class="card-title">添加菜单</div></header>
              <div class="card-body">
                <div class="alert alert-light">
                  可用图标：<a href="https://pictogrammers.com/library/mdi/" target="_blank">https://pictogrammers.com/library/mdi/</a>
                </div>
                <form class="site-form submit-ajax" action="{:url('add')}" method="post">
                  <div class="mb-3">
                    <label class="form-label" for="pid">父级菜单</label>
                    <select class="form-select" id="pid" name="pid">
                      <option value="0">顶级菜单</option>
                      {foreach $parentMenus as $pm}
                      <option value="{$pm.id}">{$pm.title}</option>
                      {/foreach}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="title">*标题</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题" value="" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="href">链接</label>
                    <input type="text" class="form-control" id="href" name="href" placeholder="控制器/方法，父级菜单可不填" value="" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="sign">*标识</label>
                    <input type="text" class="form-control" id="sign" name="sign" placeholder="请输入标识" value="" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="icon">*图标</label>
                    <input type="text" class="form-control" id="icon" name="icon" placeholder="图标样式" value="mdi mdi-tag" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="sort">*排序</label>
                    <input type="text" class="form-control" id="sort" name="sort" placeholder="请输入排序值" value="100" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">*禁删</label>
                    {:form_radio('is_sys', ['否', '是'], 0)}
                  </div>
                  <div class="mb-3">
                    <button type="submit" class="btn btn-primary">添加</button>
                    <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返回</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {include file='public/footer.html'}
</body>
</html>