{include file='public/_head.html'}
</head>
<body>
<div id="lyear-preloader" class="loading">
  <div class="ctn-preloader">
    <div class="round_spinner">
      <div class="spinner"></div>
      <img src="__STATIC__/images/loading-logo.png" alt="">
    </div>
  </div>
</div>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    {include file='public/sidebar.html'}
    {include file='public/_header.html'}

    <main class="lyear-layout-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <header class="card-header"><div class="card-title">菜单管理</div></header>
              <div class="card-body">
                <div class="card-btns mb-2-5">
                  <a href="javascript:openModal('{:url('add')}','添加菜单')" class="btn btn-primary">添加</a>
                  <button type="button" class="btn btn-success" onclick="actionConfirm('启用','{:url('state?params=status-1')}');">启用</button>
                  <button type="button" class="btn btn-info" onclick="actionConfirm('停用','{:url('state?params=status-0')}');">停用</button>
                  <button type="button" class="btn btn-danger" onclick="actionConfirm('删除', '{:url('del')}');">删除</button>
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th><div class="form-check"><input class="form-check-input" type="checkbox" id="check-all" onclick="selectAll(this.checked)" /></div></th>
                        <th>ID</th>
                        <th>标题</th>
                        <th>链接</th>
                        <th>标识</th>
                        <th>图标</th>
                        <th>排序</th>
                        <th>状态</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                    {:echo(menu_table_rows($list))}
                    </tbody>
                  </table>
                </div>
                {empty $list:}暂无记录！{/empty}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {include file='public/footer.html'}
</div>
</body>
</html>
