<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<title>404 - 页面未找到</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/style.min.css">
<style>body{background:#f4f5fa;}.error-page{height:100%;position:fixed;width:100%;}.error-body{padding-top:5%;}.error-body h1{font-size:210px;line-height:210px;color:#cacaca;}</style>
</head>
<body>
<section class="error-page">
  <div class="error-box">
    <div class="error-body text-center">
      <h1>404</h1>
      <h5 class="mb-5 mt-3 text-gray">{$msg}</h5>
      <a href="{:url('index/index')}" class="btn btn-primary me-1">返回首页</a>
      <a href="javascript:history.back()" class="btn btn-default">返回上一页</a>
    </div>
  </div>
</section>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
</body>
</html>
