<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<title>{:site('site_title')}</title>
<link rel="shortcut icon" type="image/x-icon" href="__STATIC__/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="csrf-token" content="{:csrf_token()}">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/style.min.css">
