  </div>
</div>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/popper.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/main.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/xphp-1.0.js?v={:site_ver()}"></script>
