<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{:site('site_title')}</title>
    <link href="__STATIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/css/xstart.css?v={:site_ver()}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <span class="glyphicon glyphicon-menu-hamburger" id="menu-toggle"></span>
                <a href="{:url('index/index')}"><span class="glyphicon glyphicon-leaf"></span> {:site('site_name','一鱼简易后台')}</a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="__URL__"><i class="glyphicon glyphicon-home"></i> 后台</a></li>
                <li><a href="__ROOT__/index.php" target="_blank"><i class="glyphicon glyphicon-link"></i> 前台</a></li>
                <li><a href="javascript:ajaxConfirm('{:url('api/clear')}','清除缓存');"><i class="glyphicon glyphicon-refresh"></i> 清除缓存</a></li>
                <li><a href="{:url('make/index')}"><i class="glyphicon glyphicon-console"></i> 生成</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle='dropdown'>
                        <i class="glyphicon glyphicon-user"></i> {:session('user.nickname')}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('profile/index')}">资料</a></li>
                        <li><a href="{:url('profile/password')}">改密</a></li>
                    </ul>
                </li>
                <li><a href="javascript:ajaxConfirm('{:url('login/logout')}','退出')"><i class="glyphicon glyphicon-log-out"></i> 退出</a></li>
            </ul>
        </div>
    </div>
</nav>