<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<title>{if $status==1:}操作成功{else:}操作失败{/if}</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/style.min.css">
<style>body{background:#f4f5fa;}.error-page{height:100%;position:fixed;width:100%;}.error-body{padding-top:5%;}</style>
</head>
<body>
<section class="error-page">
  <div class="error-box">
    <div class="error-body text-center">
      {if $status==1:}
      <h1><i class="mdi mdi-check-circle text-success" style="font-size:120px;"></i></h1>
      <h5 class="mb-3 mt-3 text-success">{$msg}</h5>
      <p class="text-muted">
        <span id="wait" class="text-primary fw-bold">5</span> 秒后自动 <a id="href" href="{$url}">跳转</a>
      </p>
      <script>
        (function () {
          var wait = document.getElementById('wait');
          var href = document.getElementById('href').href;
          window.setInterval(function() {
            var time = --wait.innerHTML;
            if (time <= 0) {
              location.href = href;
            }
          }, 1000);
        })();
      </script>
      {else:}
      <h1><i class="mdi mdi-close-circle text-danger" style="font-size:120px;"></i></h1>
      <h5 class="mb-3 mt-3 text-danger">{$msg}</h5>
      {/if}
      <div class="mt-4">
        <a href="{$url}" class="btn btn-primary me-1">确认</a>
        <a href="{:url('index/index')}" class="btn btn-default">返回首页</a>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
</body>
</html>
