<aside class="lyear-layout-sidebar">
  <div id="logo" class="sidebar-header">
    <a href="{:url('index/index')}"><img src="__STATIC__/images/logo-sidebar.png" title="{:site('site_name','后台管理')}" alt="{:site('site_name','后台管理')}" /></a>
  </div>
  <div class="lyear-layout-sidebar-info lyear-scroll">
    <nav class="sidebar-main">
      <ul class="nav-drawer">
        <li class="nav-item{:nav_active('index', ' active')}">
          <a href="{:url('index/index')}">
            <i class="mdi mdi-home-city-outline"></i>
            <span>管理中心</span>
          </a>
        </li>
        {php $menu=widget('menu')->get()}
        {foreach $menu as $nav}
        {if isset($nav['children']):}
        <li class="nav-item nav-item-has-subnav{:nav_active_tree($nav, ' active')}">
          <a href="javascript:void(0)">
            <i class="{$nav.icon}"></i>
            <span>{$nav.title}</span>
          </a>
          <ul class="nav nav-subnav">
            {foreach $nav['children'] as $sub}
            {if isset($sub['children']):}
            <li class="nav-item nav-item-has-subnav{:nav_active_tree($sub, ' active')}">
              <a href="javascript:void(0)">{$sub.title}</a>
              <ul class="nav nav-subnav">
                {foreach $sub['children'] as $third}
                <li{:nav_active_tree($third, ' class="active"')}>
                  <a href="{$third.url}">{$third.title}</a>
                </li>
                {/foreach}
              </ul>
            </li>
            {else:}
            <li{:nav_active_tree($sub, ' class="active"')}>
              <a href="{$sub.url}">{$sub.title}</a>
            </li>
            {/if}
            {/foreach}
          </ul>
        </li>
        {else:}
        <li class="nav-item{:nav_active_tree($nav, ' active')}">
          <a href="{$nav.url}">
            <i class="{$nav.icon}"></i>
            <span>{$nav.title}</span>
          </a>
        </li>
        {/if}
        {/foreach}
      </ul>
    </nav>
    <div class="sidebar-footer">
      <p class="copyright">
        <span>Copyright &copy; {:date('Y')}. </span>
        <a target="_blank" href="{:site('site_link', 'https://xphp.net')}">{:site('site_name','一鱼PHP框架')}</a>
      </p>
    </div>
  </div>
</aside>
