{include file='public/_head.html'}
</head>
<body>
<div id="lyear-preloader" class="loading">
  <div class="ctn-preloader">
    <div class="round_spinner">
      <div class="spinner"></div>
      <img src="__STATIC__/images/loading-logo.png" alt="">
    </div>
  </div>
</div>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    {include file='public/sidebar.html'}
    {include file='public/_header.html'}

    <main class="lyear-layout-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <header class="card-header"><div class="card-title">数据备份</div></header>
              <div class="card-body">
                <div class="card-btns mb-2-5">
                  <a href="{:url('index')}" class="btn btn-primary active"><i class="mdi mdi-content-save"></i> 数据备份</a>
                  <a href="{:url('restore')}" class="btn btn-default"><i class="mdi mdi-restore"></i> 数据还原</a>
                </div>
                <div class="card-btns mb-2-5">
                  <button type="button" class="btn btn-primary me-1" onclick="databack();"><i class="mdi mdi-content-save"></i> 备份表</button>
                  <button type="button" class="btn btn-success me-1" onclick="actionConfirm('优化表','{:url('optimize')}');"><i class="mdi mdi-leaf"></i> 优化表</button>
                  <button type="button" class="btn btn-info" onclick="actionConfirm('修复表','{:url('repair')}');"><i class="mdi mdi-wrench"></i> 修复表</button>
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check-all" onclick="selectAll(this.checked)">
                            <label class="form-check-label" for="check-all"></label>
                          </div>
                        </th>
                        <th>表名</th>
                        <th>备注</th>
                        <th>类型</th>
                        <th>编码</th>
                        <th>数据行数</th>
                        <th>数据大小</th>
                        <th>更新时间</th>
                        <th>碎片</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                    {foreach $list as $vo}
                      <tr>
                        <td>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input ids" name="ids" value="{$vo.Name}" id="ids-{$vo.Name}">
                            <label class="form-check-label" for="ids-{$vo.Name}"></label>
                          </div>
                        </td>
                        <td><a href="javascript:remoteUrl('{:url('structure',['table'=>$vo['Name']])}');" data-bs-toggle="modal" data-bs-target="#remoteModal">{$vo.Name}</a></td>
                        <td>{$vo.Comment}</td>
                        <td>{$vo.Engine}</td>
                        <td>{$vo.Collation}</td>
                        <td>{$vo.Rows}</td>
                        <td>{$vo.Data_length}</td>
                        <td>{$vo.Update_time}</td>
                        <td>{$vo.Data_free}</td>
                        <td>
                          <div class="btn-group btn-group-sm">
                            <a href="javascript:ajaxConfirm('{:url('optimize',['ids'=>$vo['Name']])}','优化表',true);" class="btn btn-success">优化</a>
                            <a href="javascript:ajaxConfirm('{:url('repair',['ids'=>$vo['Name']])}','修复表',true);" class="btn btn-warning">修复</a>
                          </div>
                        </td>
                      </tr>
                    {/foreach}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {include file='public/footer.html'}

<div id="remoteModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><span class="table"></span> 表结构：</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        text
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<script>
    function remoteUrl(url){
        $.get(url, function(res){
            if (res.status === 1) {
                $('#remoteModal .table').html(res.table);
                $('#remoteModal .modal-body').html('<pre>'+res.data+'</pre>');
            }
        },'json');
        var remoteModal = new bootstrap.Modal(document.getElementById('remoteModal'));
        remoteModal.show();
    }
    function databack() {
        var ids = [];
        $('tbody input.ids').each(function(index, el) {
            if($(this).prop('checked')){
                ids.push($(this).val());
            }
        });
        var msg = '确认要备份表吗？<br/>'+ids.toString();
        if (ids.length < 1) {
            msg = '确认要备份全部数据吗？';
        }
        var modalHtml = '<div class="modal fade" id="backupModal" tabindex="-1"><div class="modal-dialog modal-dialog-centered"><div class="modal-content"><div class="modal-body">' + msg + '</div><div class="modal-footer"><button type="button" class="btn btn-primary" id="backupBtn">确认</button><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button></div></div></div></div>';
        $('body').append(modalHtml);
        var backupModalEl = document.getElementById('backupModal');
        var backupModal = new bootstrap.Modal(backupModalEl);
        $('#backupBtn').on('click', function() {
            backupModal.hide();
            toast('数据备份中，请耐心等待……', 30);
            $.post("{:url('backup')}",{ids:ids.toString()},function(res){
                if (res.status === 1) {
                    toast(res.msg);
                    setTimeout(function(){
                        window.location.href = res.url;
                    },2000);
                } else {
                    toast(res.msg);
                }
            },'json');
        });
        $(backupModalEl).on('hidden.bs.modal', function() { $(this).remove(); });
        backupModal.show();
    }
</script>
</body>
</html>
