{include file='public/_head.html'}
</head>
<body>
<div id="lyear-preloader" class="loading">
  <div class="ctn-preloader">
    <div class="round_spinner">
      <div class="spinner"></div>
      <img src="__STATIC__/images/loading-logo.png" alt="">
    </div>
  </div>
</div>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    {include file='public/sidebar.html'}
    {include file='public/_header.html'}

    <main class="lyear-layout-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <header class="card-header"><div class="card-title">数据还原</div></header>
              <div class="card-body">
                <div class="card-btns mb-2-5">
                  <a href="{:url('index')}" class="btn btn-default"><i class="mdi mdi-content-save"></i> 数据备份</a>
                  <a href="{:url('restore')}" class="btn btn-primary active"><i class="mdi mdi-restore"></i> 数据还原</a>
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>备份编号</th>
                        <th>操作</th>
                        <th>备份路径</th>
                        <th>备份时间</th>
                      </tr>
                    </thead>
                    <tbody>
                    {foreach $list as $k=>$vo}
                    {php $k=$k+1}
                      <tr>
                        <td>{$vo.name}</td>
                        <td>
                          <div class="btn-group btn-group-sm">
                            <a href="javascript:restore('{$vo['path']}');" class="btn btn-info">还原</a>
                            <a href="{:url('bak_down',['path'=>$vo['path']])}" class="btn btn-primary">下载</a>
                            <a href="javascript:ajaxConfirm('{:url('bak_del',['path'=>$vo['path']])}','删除',true);" class="btn btn-danger">删除</a>
                          </div>
                        </td>
                        <td>{$vo.path}</td>
                        <td>{$vo.time}</td>
                      </tr>
                    {/foreach}
                    {empty $list:}
                      <tr>
                        <td colspan="4" class="text-center text-muted py-3">暂无备份</td>
                      </tr>
                    {/empty}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {include file='public/footer.html'}

<script>
    function restore(path) {
        var msg = '确认要还原数据吗？'+path;
        var modalHtml = '<div class="modal fade" id="restoreModal" tabindex="-1"><div class="modal-dialog modal-dialog-centered"><div class="modal-content"><div class="modal-body">' + msg + '</div><div class="modal-footer"><button type="button" class="btn btn-primary" id="restoreBtn">确认</button><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button></div></div></div></div>';
        $('body').append(modalHtml);
        var restoreModalEl = document.getElementById('restoreModal');
        var restoreModal = new bootstrap.Modal(restoreModalEl);
        $('#restoreBtn').on('click', function() {
            restoreModal.hide();
            toast('数据还原中，请耐心等待……', 30);
            $.post("{:url('bak_restore')}",{path:path},function(res){
                if (res.status === 1) {
                    toast(res.msg);
                    setTimeout(function(){
                        window.location.href = res.url;
                    },2000);
                } else {
                    toast(res.msg);
                }
            },'json');
        });
        $(restoreModalEl).on('hidden.bs.modal', function() { $(this).remove(); });
        restoreModal.show();
    }
</script>
</body>
</html>
