<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<title>快速安装 - {:site('site_title')}</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/style.min.css">
</head>
<body>
<div class="container" style="max-width:600px;margin-top:90px;">
    <div class="card">
      <header class="card-header"><div class="card-title"><i class="mdi mdi-wrench"></i> 一键快速还原安装(迁移)</div></header>
      <div class="card-body">
        <div class="alert alert-info">
          <ol class="mb-0">
            <li>在 .env 或 config/database.php 中配置数据库</li>
            <li>复制 backup 下 bak_备份名 一键安装</li>
            <li>重装时清空数据库并删除 backup/install.lock</li>
          </ol>
        </div>
        <form class="install site-form" method="post">
          <div class="mb-3">
            <label for="path" class="form-label">备份名称</label>
            <select class="form-select" id="path" name="path" required>
              <option value="">请选择备份文件夹</option>
              {foreach $backupDirs as $dir}
              <option value="{$dir}">{$dir}</option>
              {/foreach}
            </select>
            {empty $backupDirs:}
            <div class="form-text text-warning"><i class="mdi mdi-alert-circle"></i> 未检测到备份文件夹，请将备份文件夹放入 backup 目录下（命名格式：bak_***）</div>
            {/empty}
          </div>
          <button type="submit" class="btn btn-primary me-1">一键安装</button>
          <a href="__HOST__" class="btn btn-success me-1">进入前台</a>
          <a href="__HOST__/admin.php" class="btn btn-info">进入后台</a>
        </form>
      </div>
      <div class="card-footer text-end">
        <a href="https://xphp.net" target="_blank">XPHP</a> &copy; {:date('Y')} &bull; 轻量设计 &bull; 高效开发
      </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/popper.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/xphp-1.0.js?v={:site_ver()}"></script>
<script type="text/javascript">
$(function () {
    $('.install').submit(function(){
        var url = $(this).attr('action');
        var data = $(this).serialize();
        toast('还原安装中，请耐心等待……', 30);
        $.post(url, data, function(res){
            if (res.status === 1) {
                var modalHtml = '<div class="modal fade" id="installModal" tabindex="-1"><div class="modal-dialog modal-sm modal-dialog-centered"><div class="modal-content"><div class="modal-body">' + res.msg + '</div><div class="modal-footer"><a href="__HOST__" class="btn btn-primary">进入前台</a><button type="button" class="btn btn-default" data-bs-dismiss="modal">取消</button></div></div></div></div>';
                $('body').append(modalHtml);
                var installModal = new bootstrap.Modal(document.getElementById('installModal'));
                $(installModal._element).on('hidden.bs.modal', function() { $(this).remove(); });
                installModal.show();
            } else {
                toast(res.msg);
            }
        }, 'json');
        return false;
    });
});
</script>
</body>
</html>
